body {
    background: url("/assets/im/Home/Home.jpg");
    font-family: dancing script;
}

.container {
    display: flex;
    justify-content: center;

    
}

.container h1 {
    font-size: 100px;
    padding-top: 100px;
}

.container p {
    padding: 0;
    font-size: 50px;
}

.container .button {
    background-color: transparent;
    font-size: 50px;
    font-family: dancing script;
}

#building {
    color: crimson;
}